<template>
	<v-card flat>
		<v-card-text>
			<v-text-field v-model="code" label="Einladungscode" required></v-text-field>
			<v-btn color="success" @click="check">Überprüfen</v-btn>
		</v-card-text>
	</v-card>
</template>

<script>
export default {
	data: () => ({
		code: ''
	}),
	methods: {
		async check() {
			const token = sessionStorage.getItem("token");
			await this.$axios.$post('createChatWithInviteCode/', {
				code: this.code
			}, {
				headers: {
					Authorization: token
				}
			}).then(() => {
				this.username = '';
				this.$emit('update:dialog', false);
			});
		}
	}
};
</script>
