<template>
	<v-card flat>
		<v-card-text>
			<v-text-field v-model="username" label="Suche" required></v-text-field>
			<v-list class="overflow-y-auto" max-height="500">
				<v-list-item v-for="item in items" :key="item.id" @click="createChat(item.username)">
					{{ item.username }}
				</v-list-item>
			</v-list>
		</v-card-text>
	</v-card>
</template>

<script>
import { debounce } from "@/utils/helpers";

export default {
	data: () => ({
		username: '',
		items: []
	}),
	watch: {
		username: debounce(function () {
			this.loadUsers();
		}, 500)
	},
	methods: {
		async loadUsers() {
			const token = sessionStorage.getItem("token");
			await this.$axios.$get('getPublicUsers/', {
				headers: {
					Authorization: token
				}
			}).then((users) => {
				this.items = users;
			}).catch(() => {
			});
		},
		async createChat(username) {
			const token = sessionStorage.getItem("token");
			await this.$axios.$post('createChatWithUsername/', {
				username: username
			}, {
				headers: {
					Authorization: token
				}
			}).then(() => {
				this.username = '';
				this.$emit('update:dialog', false);
			});
		}
	}
};
</script>
