<template>
	<v-card flat>
		<v-card-text>
			<v-text-field v-model="username" label="Benutzername" required></v-text-field>
			<v-btn color="success" @click="check">Überprüfen</v-btn>
		</v-card-text>
	</v-card>
</template>

<script>
export default {
	data: () => ({
		username: ''
	}),
	methods: {
		async check() {
			const token = sessionStorage.getItem("token");
			await this.$axios.$post('createChatWithUsername/', {
				username: this.username
			}, {
				headers: {
					Authorization: token
				}
			}).then(() => {
				this.username = '';
				this.$emit('update:dialog', false);
			});
		}
	}
};
</script>
