<template>
	<v-card :loading="loading">
		<v-form @submit.prevent="login">
			<template v-slot="progress">
				<v-progress-linear color="deep-purple" height="10" indeterminate></v-progress-linear>
			</template>
			<v-card-title>Du kennst uns schon?<br>Dann hier einloggen</v-card-title>
			<v-card-text class="my-6">
				<v-text-field v-model="username" label="Benutzername" required></v-text-field>
				<v-text-field v-model="password" type="password" label="Password" required></v-text-field>
			</v-card-text>
			<v-card-actions>
				<v-btn color="success" type="submit">Anmelden</v-btn>
			</v-card-actions>
			<v-snackbar v-model="error">Benutzername oder Passwort falsch</v-snackbar>
		</v-form>
	</v-card>
</template>
<style>
</style>
<script>
import {generateLoginPassword, generateVaultKeyWithSalt} from "@/utils/crypt";
import {AES} from "@/utils/AES";

export default {
	data: () => ({
		error: false,
		loading: false,
		username: "",
		password: ""
	}),
	methods: {
		async login() {
			const {redirect} = this.$nuxt.context;

			this.loading = true;

			const aes = new AES();

			const deviceId = sessionStorage.getItem("deviceId") ?? '';

			await this.$axios.$post('/login/', {
				username: this.username,
				password: generateLoginPassword(this.password),
				devicename: 'Test',
				deviceid: deviceId
			}).then(async (data) => {
				const vaultKey = await generateVaultKeyWithSalt(data.salt, this.password);
				const privateKeyDecrypted = await aes.decrypt(vaultKey, data.private_key_encrypted);

				sessionStorage.setItem("deviceId", data.deviceid)
				sessionStorage.setItem("token", data.token)
				sessionStorage.setItem("privateKey", privateKeyDecrypted)

				this.loading = false;

				redirect("/");
			}).catch((error) => {
				console.error(error);
				this.error = true;
				this.loading = false;
			});
		}
	}
};
</script>
