<template>
	<v-card :loading="loading">
		<v-form @submit.prevent="register">
			<template v-slot="progress">
				<v-progress-linear color="deep-purple" height="10" indeterminate></v-progress-linear>
			</template>
			<v-card-title>Du kennst uns noch nicht?<br>Dann hier registrieren</v-card-title>
			<v-card-text class="my-6">
				<v-text-field v-model="username" label="Benutzername" required></v-text-field>
				<v-text-field v-model="password" type="password" label="Password" required></v-text-field>
			</v-card-text>
			<v-card-actions>
				<v-btn color="success" type="submit">Registrieren</v-btn>
			</v-card-actions>
			<v-snackbar v-model="error">Registrierung fehlgeschlagen</v-snackbar>
			<v-snackbar v-model="success">Erfolgreich registriert</v-snackbar>
		</v-form>
	</v-card>
</template>
<script>
import {RSA} from "@/utils/RSA";
import {AES} from "@/utils/AES";
import {generateLoginPassword, generateVaultKeyAndSalt} from "@/utils/crypt";
import {strToBase64} from "@/utils/helpers";

const forge = require("node-forge");

export default {
	data: () => ({
		error: false,
		success: false,
		loading: false,
		username: "",
		password: ""
	}),
	methods: {
		async register() {
			this.loading = true;

			const hashes = await generateVaultKeyAndSalt(this.password);

			const rsa = new RSA();
			const aes = new AES();

			const keys = await rsa.generateKeys();
			const privateKeyEncrypted = await aes.encrypt(hashes.key, keys.privateKey);

			await this.$axios.$post('/register/', {
				username: this.username,
				password: generateLoginPassword(this.password),
				salt: hashes.salt,
				private_key_encrypted: privateKeyEncrypted,
				public_key: strToBase64(keys.publicKey)
			}).then(() => {
				this.success = true;
				this.loading = false;
			}).catch(() => {
				this.error = true;
				this.loading = false;
			});
		}
	}
};
</script>
