<template>
	<div style="height: 100%;width: 100%;">
		<v-app-bar app clipped-right flat height="72">
			<v-app-bar-nav-icon @click="drawer"></v-app-bar-nav-icon>
			<v-toolbar-title v-if="chat">{{chat.name}}</v-toolbar-title>
			<v-spacer></v-spacer>
			<v-menu offset-y>
				<template v-slot:activator="{on, attrs}">
					<v-btn color="primary" dark v-bind="attrs" v-on="on" icon>
						<v-icon>mdi-dots-vertical</v-icon>
					</v-btn>
				</template>
				<v-list>
					<GroupAdd :chatid="chatId"/>
					<v-list-item @click="block">
						<v-list-item-title>Chat blockieren</v-list-item-title>
					</v-list-item>
					<v-list-item @click="leave">
						<v-list-item-title>Chat verlassen</v-list-item-title>
					</v-list-item>
				</v-list>
			</v-menu>
		</v-app-bar>

		<div style="height: 100%;width: 100%;" id="chat">
			<infinite-loading :identifier="infiniteId" direction="top" @infinite="infiniteHandler">
				<div slot="spinner">Loading...</div>
				<div slot="no-more">No more message</div>
				<div slot="no-results">No results message</div>
			</infinite-loading>

			<ChatMessage class="ma-3" v-for="message of messages" :answer.sync="answer" :chat="chatId" :message="message" :key="message.encrypted_message"/>
		</div>

		<v-footer app inset class="white pa-4 pt-8" style="box-shadow: #FF1616 0 -1px 5px;">
			<div v-if="answer" class="mb-4">
				<span class="grey--text">Antwort an {{ answer.sender }}</span>
				<v-btn elevation="2" icon @click="answer = null" class="float-right ml-4">
					<v-icon style="color: #707070;">mdi-close</v-icon>
				</v-btn>
				<p style="color: #707070;">{{ decrypt(answer.encrypted_message) }}</p>
			</div>
			<v-form @submit.prevent="sendMessage" v-model="valid" class="d-flex" style="width: 100%;">
				<v-text-field class="mr-2" id="text-input" placeholder="Nachricht" v-model="message" :counter="500" :rules="messageRules" outlined></v-text-field>
				<v-btn type="submit" dark x-large color="primary" :disabled="!valid">Senden</v-btn>
			</v-form>
		</v-footer>
	</div>
</template>
<style>
#chat {
	background-image: url("~/assets/img/chat_bg.png");
	background-size: cover;
	background-attachment: fixed;
	background-position-x: 150px;
}
#text-input {
	color: #707070 !important;
}
.theme--light.v-counter {
	color: #707070 !important;
}
</style>
<script>
import forge from "node-forge";
import {base64ToStr, strToBase64} from "@/utils/helpers";
import InfiniteLoading from 'vue-infinite-loading';

export default {
	components: {
		InfiniteLoading,
	},
	data: () => ({
		valid: false,
		chat: null,
		chatId: null,
		messages: [],
		message: '',
		answer: null,
		page: 0,
		infiniteId: +new Date(),
		messageRules: [
			v => v.length <= 500 || 'Die Nachricht darf nicht läger als 500 Zeichen sein',
		],
	}),
	created() {
		const {params} = this.$nuxt.context;
		const chatId = params.id;
		this.$nuxt.$on('chat-update.'+chatId, async (event) => {
			this.page = 0;
			this.messages = [];
			this.infiniteId += 1;
		});
	},
	beforeDestroy() {
		const {params} = this.$nuxt.context;
		const chatId = params.id;
		this.$nuxt.$off('chat-update.'+chatId,)
	},
	async fetch() {
		const {$axios, params, error} = this.$nuxt.context;
		const token = sessionStorage.getItem("token");

		this.chatId = params.id;

		await $axios.$get('getInfosFromChat/', {
			headers: {
				Authorization: token
			},
			params: {
				chatid: this.chatId
			}
		}).then((chat) => {
			this.chat = chat;
			this.$nuxt.$emit('title-update', chat.name);
		}).catch((_err) => {
			console.error(_err);
			error({statusCode: 404, message: 'Chat not found'})
		});
	},
	fetchOnServer: false,
	fetchKey: 'site-sidebar',
	methods: {
		decrypt(message) {
			var pki = forge.pki;
			const key = sessionStorage.getItem("privateKey");
			const privateKey = pki.privateKeyFromPem(key);
			return privateKey.decrypt(base64ToStr(message));
		},
		async sendMessage() {
			if(!this.valid) {
				return;
			}
			const message = this.message;
			this.message = '';
			this.answer = null;
			const {$axios} = this.$nuxt.context;
			var pki = forge.pki;
			const token = sessionStorage.getItem("token");
			await $axios.$get('getAllPublicKeysFromChat/', {
				headers: {
					Authorization: token
				},
				params: {
					chatid: this.chatId
				}
			}).then(async (publicKeys) => {
				const messages = publicKeys.map(key => {
					const publicKey = pki.publicKeyFromPem(base64ToStr(key.public_key));
					const encrypted = publicKey.encrypt(message);
					return {user_id: key.user_id, encrypted_message: strToBase64(encrypted)};
				});
				await $axios.$post('sendTextMessage/', {
					chatid: this.chatId,
					user_messages: messages,
					referenced_message_pk: this.answer?.message_pk
				}, {
					headers: {
						Authorization: token
					}
				}).then(() => {
					this.page = 0;
					this.messages = [];
					this.infiniteId += 1;
				}).catch((error) => {
					console.error(error);
				});
			}).catch((error) => {
				console.error(error);
			});
		},
		async block() {
			const {$axios, params, error} = this.$nuxt.context;
			const token = sessionStorage.getItem("token");
			this.chatId = params.id;
			await $axios.$post('blockChat/', {
					chat_id: this.chatId
				},{
				headers: {
					Authorization: token
				}
			}).catch(() => {
				error({statusCode: 404, message: 'Chat not found'})
			});
		},
		async leave() {
			const {$axios, params, error} = this.$nuxt.context;
			const token = sessionStorage.getItem("token");
			this.chatId = params.id;
			await $axios.$post('leaveChat/', {
				chat_id: this.chatId
			},{
				headers: {
					Authorization: token
				}
			}).catch(() => {
				error({statusCode: 404, message: 'Chat not found'})
			});
		},
		async infiniteHandler($state) {
			const {$axios} = this.$nuxt.context;
			const token = sessionStorage.getItem("token");
			await $axios.$get('getMessagesFromChat/', {
				headers: {
					Authorization: token
				},
				params: {
					chatid: this.chatId,
					page: this.page,
					pagesize: 4
				}
			}).then((messages) => {
				if (messages.length) {
					this.page += 1;
					this.messages.unshift(...messages.reverse());
					$state.loaded();
				} else {
					$state.complete();
				}
			}).catch(() => {
			});
		},
		drawer() {
			this.$nuxt.$emit('drawer');
		}
	}
};
</script>
