<template>
	<v-dialog v-model="blockDialog" width="600">
		<template v-slot:activator="{ on, attrs }">
			<v-icon class="d-block text-center mx-auto mb-5" v-bind="attrs" v-on="on">mdi-cancel</v-icon>
		</template>
		<v-card>
			<v-card-title class="text-h5">
				Blockierte Benutzer
				<v-spacer></v-spacer>
				<v-dialog v-model="createDialog" width="600">
					<template v-slot:activator="{ on, attrs }">
						<v-btn v-bind="attrs" v-on="on" color="secondary" icon>
							<v-icon>mdi-plus</v-icon>
						</v-btn>
					</template>
					<v-card>
						<v-card-title class="text-h5">
							Benutzer blockieren
						</v-card-title>
						<v-card-text class="pa-3">
							<v-form @submit.prevent="block" v-model="valid">
								<v-text-field class="mr-2" placeholder="Benutzername" v-model="username" outlined></v-text-field>
								<v-btn type="submit" dark x-large color="primary" :disabled="!valid">Senden</v-btn>
							</v-form>
						</v-card-text>
					</v-card>
				</v-dialog>
			</v-card-title>
			<v-card-text class="pa-3">
				<v-list dense>
					<v-list-item v-for="(value, i) in blockedUsers" :key="i">
						<v-list-item-content>
							<v-list-item-title v-text="value.name"></v-list-item-title>
						</v-list-item-content>
						<v-list-item-action>
							<v-btn @click="unblock(value.name)" color="secondary" icon>
								<v-icon>mdi-delete</v-icon>
							</v-btn>
						</v-list-item-action>
					</v-list-item>
				</v-list>
			</v-card-text>
		</v-card>
	</v-dialog>
</template>
<script>
export default {
	data: () => ({
		blockDialog: false,
		createDialog: false,
		valid: false,
		username: '',
		blockedUsers: []
	}),
	watch: {
		async blockDialog() {
			await this.fetch();
		}
	},
	methods: {
		async fetch() {
			const token = sessionStorage.getItem("token");
			await this.$axios.$get('blockedUsers/', {
				headers: {
					Authorization: token
				}
			}).then((users) => {
				this.blockedUsers = users;
			}).catch((error) => {
				console.error(error);
			});
		},
		async block() {
			const token = sessionStorage.getItem("token");
			await this.$axios.$post('blockUser/', {
				username: this.username
			}, {
				headers: {
					Authorization: token
				}
			}).then(async () => {
				this.username = '';
				this.createDialog = false;
				await this.fetch();
			}).catch(() => {
			});
		},
		async unblock(username) {
			const token = sessionStorage.getItem("token");
			await this.$axios.$post('unblockUser/', {
				username: username
			}, {
				headers: {
					Authorization: token
				}
			}).then(async () => {
				await this.fetch();
			}).catch(() => {
			});
		}
	}
};
</script>
