<template>
	<div>
		<v-list dense>
			<template v-for="(value, i) in values">
				<v-list-item :key="type+i">
					<v-list-item-content>
						<v-row>
							<v-col md="6">
								<v-text-field v-model="value.value" @change="update" :label="type"></v-text-field>
							</v-col>
							<v-col md="6">
								<v-select
									v-model="value.role"
									:items="roles"
									item-text="name"
									item-value="value"
									label="Rolle"
									@change="update"
								></v-select>
							</v-col>
						</v-row>
					</v-list-item-content>
					<v-list-item-action>
						<v-btn @click="remove(i)" icon>
							<v-icon>mdi-delete</v-icon>
						</v-btn>
					</v-list-item-action>
				</v-list-item>
			</template>
		</v-list>
		<v-btn @click="addRow">Neuer Eintrag</v-btn>
	</div>
</template>
<script>
export default {
	props: ['type'],
	data: () => ({
		values: [
			{value: '', role: 'rd'}
		],
		roles: [
			{name: 'Read', value: 'rd'},
			{name: 'ReadWrite', value: 'rw'},
			{name: 'Admin', value: 'ad'}
		]
	}),
	methods: {
		addRow() {
			this.values.push({value: '', role: 'rd'});
		},
		remove(index) {
			this.values.splice(index, 1);
		},
		update() {
			this.$emit('update:values', this.values)
		}
	}
};
</script>
