<template>
	<v-dialog v-model="dialog">
		<template v-slot:activator="{ on, attrs }">
			<v-icon class="d-block text-center mx-auto mb-5" v-bind="attrs" v-on="on">mdi-chat-plus</v-icon>
		</template>
		<v-card>
			<v-card-title class="text-h5">
				Neuer Chat
			</v-card-title>
			<v-tabs>
				<v-tab>
					<v-icon left>mdi-at</v-icon>
					Benutzername
				</v-tab>
				<v-tab>
					<v-icon left>mdi-email</v-icon>
					Einladungscode
				</v-tab>
				<v-tab>
					<v-icon left>mdi-format-list-bulleted</v-icon>
					Alle Benutzer
				</v-tab>
				<v-tab-item>
					<ChatCreateUsername :dialog.sync="dialog"/>
				</v-tab-item>
				<v-tab-item>
					<ChatCreateInviteCode :dialog.sync="dialog"/>
				</v-tab-item>
				<v-tab-item>
					<ChatCreatePublic :dialog.sync="dialog"/>
				</v-tab-item>
			</v-tabs>
		</v-card>
	</v-dialog>
</template>
<script>
export default {
	data: () => ({
		dialog: null,
	}),
};
</script>
