<template>
	<div v-if="fromMe(message)" class="d-flex justify-end" @dblclick="answer">
		<ChatMessageOwn :message="message"/>
	</div>
	<div v-else class="d-flex justify-start" @dblclick="answer">
		<ChatMessagePartner :message="message"/>
	</div>
</template>
<script>
const moment = require('moment');
moment.locale('de');

export default {
	props: ['chat', 'message'],
	mounted: async function() {
		const {$axios} = this.$nuxt.context;
		const token = sessionStorage.getItem("token");

		if(this.message.read_at == null) {
			await $axios.$post('setRead/', {
				chatid: this.chat,
				message_user_pk: this.message.message_user_pk,
				read_at: moment()
			},{
				headers: {
					Authorization: token
				}
			})
		}
	},
	methods: {
		fromMe(message) {
			return message.sender === this.$store.state.general.username;
		},
		answer() {
			this.$emit('update:answer', this.message)
		}
	}
};
</script>
