<template>
	<v-dialog v-model="dialog" fullscreen hide-overlay transition="dialog-bottom-transition">
		<template v-slot:activator="{ on, attrs }">
			<v-list-item v-bind="attrs" v-on="on">
				<v-list-item-title>Benutzer hinzufügen</v-list-item-title>
			</v-list-item>
		</template>
		<v-card>
			<v-toolbar dark color="primary">
				<v-btn icon dark @click="dialog = false">
					<v-icon>mdi-close</v-icon>
				</v-btn>
				<v-toolbar-title>Benutzer hinzufügen</v-toolbar-title>
				<v-spacer></v-spacer>
				<v-toolbar-items>
					<v-btn color="primary" @click="create">Hinzufügen</v-btn>
				</v-toolbar-items>
			</v-toolbar>
			<v-card-text class="mt-6">
				<v-row>
					<v-col md="6">
						<Repeater type="Benutzername" :values.sync="users"/>
					</v-col>
					<v-col md="6">
						<Repeater type="Einladungscode" :values.sync="codes"/>
					</v-col>
				</v-row>
			</v-card-text>
		</v-card>
	</v-dialog>
</template>
<script>
export default {
	data: () => ({
		users: [],
		codes: [],
		dialog: null,
	}),
	props: ['chatid'],
	methods: {
		async create() {
			const token = sessionStorage.getItem("token");
			await this.$axios.$post('addUsersToGroup/', {
				chatid: this.chatid,
				users: this.users.map(function (x) {
					return {username: x.value, role: x.role};
				}),
				codes: this.codes.map(function (x) {
					return {code: x.value, role: x.role};
				})
			}, {
				headers: {
					Authorization: token
				}
			}).then(() => {
				this.dialog = false;
			});
		}
	}
};
</script>
