<template>
	<v-dialog v-model="dialog" fullscreen
	          hide-overlay
	          transition="dialog-bottom-transition">
		<template v-slot:activator="{ on, attrs }">
			<v-icon class="d-block text-center mx-auto mb-5" v-bind="attrs" v-on="on">mdi-account-multiple-plus</v-icon>
		</template>
		<v-card>
			<v-toolbar dark color="primary">
				<v-btn icon dark @click="dialog = false">
					<v-icon>mdi-close</v-icon>
				</v-btn>
				<v-toolbar-title>Neue Gruppe</v-toolbar-title>
				<v-spacer></v-spacer>
				<v-toolbar-items>
					<v-btn color="primary" @click="create">Erstellen</v-btn>
				</v-toolbar-items>
			</v-toolbar>
			<v-card-text class="mt-6">
				<v-row>
					<v-col md="6">
						<v-text-field placeholder="Name" v-model="name" outlined></v-text-field>
					</v-col>
					<v-col md="6">
						<v-text-field placeholder="Beschreibung" v-model="description" outlined></v-text-field>
					</v-col>
				</v-row>
				<v-row>
					<v-col md="6">
						<Repeater type="Benutzername" :values.sync="users"/>
					</v-col>
					<v-col md="6">
						<Repeater type="Einladungscode" :values.sync="codes"/>
					</v-col>
				</v-row>
			</v-card-text>
		</v-card>
	</v-dialog>
</template>
<script>
export default {
	data: () => ({
		name: '',
		description: '',
		users: [],
		codes: [],
		dialog: null,
	}),
	methods: {
		async create() {
			const token = sessionStorage.getItem("token");
			await this.$axios.$post('createGroup/', {
				name: this.name,
				description: this.description,
				users: this.users.map(function (x) {
					return {username: x.value, role: x.role};
				}),
				codes: this.codes.map(function (x) {
					return {code: x.value, role: x.role};
				})
			}, {
				headers: {
					Authorization: token
				}
			}).then(() => {
				this.dialog = false;
			});
		}
	}
};
</script>
