<template>
	<div class="mb-4 own-message pa-3 rounded-lg" style="display: inline-block;max-width: 50%;">
		<div v-if="message.referenced_message" class="pl-4" style="border-left: gray solid 4px;">
			<p class="mb-0 d-flex">
				<b class="grey--text text--lighten-5 mr-2">{{ message.referenced_message.sender }}</b>
				<small class="grey--text text--lighten-2 ml-auto">{{ formatTime(message.referenced_message.timestamp) }}</small>
			</p>
			<span class="grey--text text--lighten-5" style="word-break: break-all;">{{ this.decrypt(this.message.referenced_message.encrypted_message) }}</span>
		</div>
		<p class="mb-0 d-flex">
			<b class="grey--text text--lighten-5 mr-2">{{ message.sender }}</b>
			<small class="grey--text text--lighten-2 ml-auto">{{ formatTime(message.timestamp) }}</small>
		</p>
		<span class="grey--text text--lighten-5" style="word-break: break-all;">{{ this.decrypt(this.message.encrypted_message) }}</span>
	</div>
</template>
<style>
.own-message {
	background-color: #707070;
}
</style>
<script>
import forge from "node-forge";
import {base64ToStr} from "@/utils/helpers";
import moment from "moment";

export default {
	props: ['message'],
	methods: {
		decrypt(message) {
			var pki = forge.pki;
			const key = sessionStorage.getItem("privateKey");
			const privateKey = pki.privateKeyFromPem(key);
			return privateKey.decrypt(base64ToStr(message));
		},
		formatTime(time) {
			return moment(time).calendar();
		}
	}
}
</script>
