<template>
	<v-app id="inspire">
		<v-navigation-drawer v-model="drawer" app width="300">
			<v-navigation-drawer v-model="drawer" absolute color="grey" mini-variant>
				<v-menu offset-y>
					<template v-slot:activator="{ on, attrs }">
						<v-avatar class="d-block text-center mx-auto mt-4" v-bind="attrs" v-on="on" rounded color="grey darken-1" size="36">
							<span class="white--text text-h5" v-if="user">{{user.username.substring(0, 1).toUpperCase()}}</span>
						</v-avatar>
					</template>
					<v-list>
						<v-list-item nuxt to="/profile">
							<v-list-item-icon>
								<v-icon>mdi-account</v-icon>
							</v-list-item-icon>
							<v-list-item-title>Profil</v-list-item-title>
						</v-list-item>
						<v-list-item nuxt @click="logout">
							<v-list-item-icon>
								<v-icon>mdi-logout</v-icon>
							</v-list-item-icon>
							<v-list-item-title>Abmelden</v-list-item-title>
						</v-list-item>
					</v-list>
				</v-menu>
				<v-divider class="mx-3 my-5"></v-divider>
				<ChatCreate/>
				<GroupCreate/>
				<InvitecodeCreate/>
				<Block/>
			</v-navigation-drawer>
			<v-list class="pl-14" shaped>
				<v-list-item v-for="chat of chats" :key="chat.chat_id" :to="'/chat/'+chat.chat_id" nuxt>
					<v-list-item-avatar>
						<v-avatar class="d-block text-center mx-auto" color="grey lighten-1" size="50"></v-avatar>
					</v-list-item-avatar>
					<v-list-item-content>
						<v-list-item-title>{{ chat.chat_name }}<span v-if="chat.unread_count > 0"> ({{ chat.unread_count }})</span></v-list-item-title>
						<v-list-item-subtitle v-if="chat.last_message"> {{ chat.last_message.sender }}: {{ decrypt(chat.last_message.encrypted_message) }} </v-list-item-subtitle>
					</v-list-item-content>
				</v-list-item>
			</v-list>
		</v-navigation-drawer>
		<v-main>
			<Nuxt/>
		</v-main>
	</v-app>
</template>
<style>
.v-main {
	flex: 1 1 auto !important;
}
.v-main__wrap {
	display: flex;
}
</style>
<script>
import forge from "node-forge";
import {base64ToStr} from "@/utils/helpers";

export default {
	middleware: "auth",
	data: () => ({
		drawer: null,
		attrs: null,
		on: null,
		chats: [],
		user: null,
		title: 'Kii'
	}),
	created() {
		this.$ws.start();
		this.$nuxt.$on('chat-list', async (event) => {
			await this.getChats();
		});
		this.$nuxt.$on('chat-list-update', async (event) => {
			await this.getChats();
		});
		this.$nuxt.$on('title-update', async (event) => {
			this.title = event;
		});
		this.$nuxt.$on('drawer', async () => {
			this.drawer = !this.drawer;
		})
	},
	beforeDestroy() {
		const {params} = this.$nuxt.context;
		const chatId = params.id;
		this.$nuxt.$off('chat-update.'+chatId,)
	},
	async fetch() {
		const {$axios} = this.$nuxt.context;
		const token = sessionStorage.getItem("token");
		await this.getChats();
		this.user = await $axios.$get('me/', {
			headers: {
				Authorization: token
			}
		}).then((user) => {
			this.$store.commit('general/login', user.username);
			return user;
		}).catch(() => {

		});
	},
	fetchOnServer: false,
	fetchKey: 'site-sidebar',
	methods: {
		async logout() {
			const {redirect} = this.$nuxt.context;
			sessionStorage.clear();
			await redirect("/start");
		},
		decrypt(message) {
			try {
				const pki = forge.pki;
				const key = sessionStorage.getItem("privateKey");
				const privateKey = pki.privateKeyFromPem(key);
				return privateKey.decrypt(base64ToStr(message));
			} catch (e) {
				return "Wrong message";
			}
		},
		async getChats() {
			const {$axios} = this.$nuxt.context;
			const token = sessionStorage.getItem("token");
			return await $axios.$get('getChatsForUser/', {
				headers: {
					Authorization: token
				}
			}).then((chats) => {
				this.chats = chats;
			}).catch(() => {

			});
		}
	}
};
</script>
