<template>
	<div>
		<v-app-bar app clipped-right flat height="72">
			<v-app-bar-nav-icon @click="drawer"></v-app-bar-nav-icon>
			<v-toolbar-title></v-toolbar-title>
		</v-app-bar>
	</div>
</template>
<script>
export default {
	methods: {
		drawer() {
			this.$nuxt.$emit('drawer');
		}
	}
}
</script>
