<template>
	<div style="height: 100%;width: 100%;">
		<v-app-bar v-if="user" app clipped-right flat height="72">
			<v-app-bar-nav-icon @click="drawer"></v-app-bar-nav-icon>
			<v-app-bar-title>{{ this.user.username }}</v-app-bar-title>
		</v-app-bar>
		<v-container>
			<v-row justify="center">
				<v-col md="3">
					<v-card>
						<v-card-title>
							Einstellungen
						</v-card-title>
						<v-card-text>
							<v-select v-if="visibility"
							          v-model="visibility"
							          item-text="name"
							          item-value="value"
							          :items="items"
							          label="Sichtbarkeit"
							></v-select>
						</v-card-text>
					</v-card>
				</v-col>
			</v-row>
		</v-container>

	</div>
</template>
<script>
export default {
	data: () => ({
		user: null,
		visibility: null,
		items: [
			{ name: 'Public', value: 'pu' },
			{ name: 'Private', value: 'pr' },
			{ name: 'Ungelisted', value: 'un' }
		],
	}),
	watch: {
		visibility: {
			handler (val, oldVal) {
				if(oldVal != null) {
					this.updateVisibility(val)
				}
			}
		}
	},
	async fetch() {
		const {$axios} = this.$nuxt.context;
		const token = sessionStorage.getItem("token");
		this.user = await $axios.$get('me/', {
			headers: {
				Authorization: token
			}
		}).catch(() => {

		});

		this.visibility = this.items.find((n) => n.value == this.user.visibility);
	},
	methods: {
		async updateVisibility(visibility) {
			const {$axios} = this.$nuxt.context;
			const token = sessionStorage.getItem("token");
			await $axios.$post('setVisibility/', {
				visibility: visibility
			},{
				headers: {
					Authorization: token
				}
			}).catch(() => {

			});
		},
		drawer() {
			this.$nuxt.$emit('drawer');
		}
	}
}
</script>
