<template>
	<v-container>
		<v-row justify="center" class="mt-6">
			<v-col md="5">
				<StartLogin/>
			</v-col>
			<v-col md="5">
				<StartRegister/>
			</v-col>
		</v-row>
	</v-container>
</template>
<script>
export default {
	layout: "start",
}
</script>
