<template>
	<v-dialog v-model="dialogVisible" width="600">
		<template v-slot:activator="{ on, attrs }">
			<v-icon class="d-block text-center mx-auto mb-5" v-bind="attrs" v-on="on">mdi-email</v-icon>
		</template>
		<v-card>
			<v-card-title class="text-h5">
				Einladungscodes
				<v-spacer></v-spacer>
				<v-btn @click="create()" color="secondary" icon>
					<v-icon>mdi-plus</v-icon>
				</v-btn>
			</v-card-title>
			<v-card-text class="pa-3">
				<v-list dense>
					<v-list-item v-for="(value, i) in invitecodes" :key="i">
						<v-list-item-content>
							<v-list-item-title v-text="value"></v-list-item-title>
						</v-list-item-content>
						<v-list-item-action>
							<v-btn @click="del(value)" color="secondary" icon>
								<v-icon>mdi-delete</v-icon>
							</v-btn>
						</v-list-item-action>
					</v-list-item>
				</v-list>
			</v-card-text>
		</v-card>
	</v-dialog>
</template>
<script>
export default {
	data: () => ({
		dialogVisible: null,
		invitecodes: []
	}),
	watch: {
		async dialogVisible() {
			await this.fetch();
		}
	},
	methods: {
		async fetch() {
			const token = sessionStorage.getItem("token");
			await this.$axios.$get('getInviteCodes/', {
				headers: {
					Authorization: token
				}
			}).then((codes) => {
				this.invitecodes = codes;
			}).catch((error) => {
				console.error(error);
			});
		},
		async create() {
			const token = sessionStorage.getItem("token");
			await this.$axios.$get('createInviteCode/', {
				headers: {
					Authorization: token
				}
			}).then((code) => {
				this.fetch();
			}).catch((error) => {
				console.error(error);
			});
		},
		async del(code) {
			const token = sessionStorage.getItem("token");
			await this.$axios.$post('deleteInviteCode/', {
				code: code
			}, {
				headers: {
					Authorization: token
				}
			}).then((code) => {
				this.fetch();
			}).catch((error) => {
				console.error(error);
			});
		}
	}
};
</script>
